@import '~antd/dist/antd.css';

body{
  color: #ffffff;
}
h1,h2,h3,h4,h5{

  color: #ffffff;
}

.ant-layout{
  background: black;
  color:white;
}

.content__row{
  height: 95vh;
  width: 100%;
}

.notice__row{
  height: 5vh;
  width: 100%;
}

.menu{

  height:100%;
  width: 100%;

}

.video{

  height:100%;
  width: 100%;

}

.review{
  margin:auto;
  width: 100%;
  height: 40vh;
  background-image: linear-gradient(142deg, #020b15 -14%, #041331 121%);
}

.review > h3{
  padding: 0px;
  font-weight: bold;
  font-size: 2.725em;
  text-align: center;
  color:#FFF;
}

.review > h4{
  padding: 0px;
  line-height: .275em;
  font-weight: bold;
  font-size: 1.5em;
  text-align: center;
  color:#FFF;
}

.promotion{
  margin:auto;
  width: 100%;
  height: 60vh;
}





.font24{
  font-size: 24px;
  font-weight: 600;
}

.font20{
  font-size: 20px;
  font-weight: 600;
}

.font18{
  font-size: 18px;
  font-weight: 600;
}

.font40{

  font-size: 40px;
  font-weight: 600;

}

.t_top_td_r {
  width:40%;
  }


#rightMid .r_mid{

  margin:auto;
  border: solid 1px black;
  width: 100%;
  height: 25vh;

}

#rightBot .r_bottom{

  background-color: whitesmoke;
  margin:5px auto;
 
  width: 100%;
  height: 44vh;
  color: #ffffff;

}






.list_style{
  list-style-type : none;
  margin: 0;
  padding: 0;

}

.list_style li{

  padding: 5px;
  margin-left: 10px;
  font-size: 16px;;

}

/* Marquee Running Text*/
marquee {
	margin-top: 5px;
  width: 100%;
  position: absolute;
  bottom: 0px;
  z-index: 33333;
}

.runtext-container {
background-color:rgb(69,69,69);;
background-image:-moz-linear-gradient(0deg, rgba(69,69,69,1) 75%, rgba(48,108,18,1) 90%);
background-image:-webkit-linear-gradient(0deg, rgba(69,69,69,1) 75%, rgba(48,108,18,1) 90%);
background-image:-o-linear-gradient(0deg, rgba(69,69,69,1) 75%, rgba(48,108,18,1) 90%);
background-image:linear-gradient(0deg, rgba(69,69,69,1) 75%, rgba(48,108,18,1) 90%);
background-repeat:repeat-x;

width: 100%;
overflow-x: hidden;
overflow-y: visible;
padding:0 3px 0 3px;
z-index: 33333;
}

.main-runtext {margin: 0 auto;
overflow: visible;
position: relative;
height: 40px;
}

.runtext-container .holder {
position: relative;
overflow: visible;
display:inline;
float:left;

}

.runtext-container .holder .text-container {
	display:inline;
}

.runtext-container .holder a{
	text-decoration: none;
	font-weight: bold;
	color:#999;
	*text-shadow:0 -1px 0 rgba(0,0,0,0.25);
	line-height: 1.5em;
	font-size:16px;
}

.runtext-container .holder a:hover{
	text-decoration: none;
	color:#000;
}

/* bf-testimonial-slick */
.bf-testimonial-slick-single{
	color:#fff;
	text-align: center;
	border-radius: 10px;
  background-color: #fff;
  padding: 2em;
  margin: 2em;
}

.bf-testimonial-icon svg {
  font-size: 20px;
  letter-spacing: 5.4px;
  color: #f8c51c;
}

.bf-testimonial-title h3{
		font-size: 24px;
		font-weight: 900;
		line-height: 1.5em;
		text-align: center;
		color: #000;
}

.bf-testimonial-message p{
	opacity: 0.7;
  font-family: 'Muli', sans-serif;
  font-size: 15px;
  line-height: 1.6em;
  text-align: center;
  color: #000;
}
.bf-testimonial-author-info{}
.bf-testimonial-author-info .author-name h4{
		opacity: 0.6;
		font-size: 15px;
		font-weight: 900;
		line-height: 1em;
		text-align: center;
		color: #000;
}
.bf-testimonial-author-info .author-designation h5{
	opacity: 0.3;
  font-family: 'Muli', sans-serif;
  font-size: 15px;
  line-height: 1em;
  color: #000;
}

/* Testimonial Spacing */
.bf-testimonial-icon {
    margin-bottom: 13px;
}
.bf-testimonial-title {
    margin-bottom: 36px;
}
.bf-testimonial-message {
    padding: 0 50px;
    margin-bottom: 45px;
}
.bf-testimonial-author-info .author-name {
    margin-bottom: 10px;
}
@media only screen and (max-width: 1367px){
	.bf-testimonial-slick-single{
		padding: 20px;
	}
	.bf-testimonial-message {
		padding: 0 10px;
	}
}
@media only screen and (max-width: 991px){
	.bf-testimonial-slick-single{
		padding: 20px;
	}
	.bf-testimonial-message {
		padding: 0px;
	}
}